.container {
    border: 2px solid #fd2d01;
    border-radius: 8px;
    padding: 10px;
    margin: 20px auto;
}

.searchInput {
    overflow: hidden;
}

.messages {
    min-height: 200px;
    margin-bottom: 10px;
    overflow-y: scroll;
    max-height: 500px;
}

.inputContainer {
    display: flex;
    align-items: center;
}

.input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.inputForm {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.paperclipIcon {
    cursor: pointer;
    color: black;
    margin-right: 10px;
  }

.button {
    padding: 8px 16px;
    background-color: #fd2d01;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover{
    font-style: italic;
    box-shadow: 2px 2px 0px black;
    color: black;
    font-weight: 700;
}