.containerHead {
    background-color: #fd2d01;
    padding: 20px 20px 0px 20px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 0 20px;
    width: 190px;
    text-align: left;
}

.headerLinks {
    padding: 0 10px;
    color: white;
    text-align: center;
}

.loginButton,
.signUpButton,
.signOutButton {
    background-color: #fd2d01;
    border: none;
    font-size: large;
    font-weight: 700;
    padding: 11px;
}

.loginButton:hover,
.signUpButton:hover,
.signOutButton:hover {
    color: black;
    border-style: dotted;
    border-radius: 50px;
    border-color: white;
    padding: 8px;
    text-align: center;
    font-size: large;
    cursor: pointer;
}


@media (max-width: 768px) {
    .containerHead {
        flex-direction: column;
        padding: 0 0px;
        width: auto;
    }

    .logo {
        padding: 20px 10px;
        text-align: center;
    }

    .headerLinks {
        font-size: 10px;
        padding: 20px 0;
        text-align: center;
    }
}