.messageContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #ffd7d7;
    padding-bottom: 5px;
}

.userInfo {
    margin-bottom: 5px;
}

.message {
    margin-left: 20px;
}

.meta {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding-left: 20px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
