/* message.css */
.messageContainer {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.userInfo {
  font-weight: bold;
}

.message {
  margin: 5px 0;
}

.meta {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: gray;
}

.messageContainer .multimedia {
  margin-top: 10px;
}

.messageContainer img,
.messageContainer video {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  padding: 5px;
}

.messageContainer {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.messageContainer .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.messageContainer.read .circle {
  background-color: green;
}

.messageContainer.unread .circle {
  background-color: red;
}