.navigation {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  
  .navLinks {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-radius: 50%;
    border-style:dotted;
    border-color: #fd2d01;
  }

  .navLinks:hover {
    color:black;
    background-color: #ffd7d7;
    font-style: italic;
  }
  