.navigation {
    display: flex;
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  
  .navLinks {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border-style:ridge;
    border-color: #121559;
  }

  .navLinks:hover {
    color:white;
    background-color: #121559;
    border-color: tomato;
  }
  